<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
    <h1>Обо мне</h1>
        <p>
        Тимофей Егоров, куратор и разработчик университета искусственного интеллекта.
        <br>Основной специализацией является создание интеллектуальных систем на основе нейронных сетей и искусственное интеллекту. Разрабатывает информационные системы для управления предприятиями, шахтами, морским транспортом.
        <a href="http://www.inopressa.ru/article/02Apr2013/wsj/uboat.html"> http://www.inopressa.ru/article/02Apr2013/wsj/uboat.html</a>
        <ul>Вы также можете подписаться на мои страницы:
            <li>- в фейсбуке: https://www.-senat-consult.livejournal.com/</li>
            <li>- твиттере: https:\\/\\/ttn_peterburg</li>
            <li>- Вконтакте: https//vk.com</li>
            <li>- фейсбуке</li>
            <li>- инстаграм: https/a.ratananin</li>
            <li>- www.youtube.com</li>
        </ul>
        </p>
    <p>Источник: https://russiannlp.github.io/rugpt-demo/</p>
</head>
<body>

</body>
</html>