<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мегапарсер вакансий</title>
        <!--  Подключение CSS  -->
    <link href="main.css" rel="stylesheet">

</head>
<body>
    <h1>Мегапарсер вакансий</h1>
    <p>В один клик узнай, какие скиллы сейчас востребованы на рынке!</p>
    <ul>
        <li>Выбери интересующую вакансию</li>
        <li>Запусти парсер</li>
        <li>Получи подробный отчет по требуемым навыкам и зарплате!</li>
    </ul>
    <form action="form.html">
        <button class="button">Попробовать бесплатно</button>
    </form>
</body>
</html>